body {
  background-color: var(--bg-color);
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Velodroma Regular";
  src: url("/assets/fonts/VelodromaBasic/VelodromaBasic-Regular.otf");
}

@font-face {
  font-family: "Velodroma Wide";
  src: url("/assets/fonts/VelodromaBasic/VelodromaBasic-Wide.otf");
}
