@use "../mixins/responsive.scss" as *;

.button {
  color: var(--bg-color);
  font-weight: 700;
  font-size: 1.1rem;
  border: 2px solid var(--bg-color);
  border-radius: 50px;
  padding: 10px 51px;
  @include responsive(laptop) {
    border: 2px solid var(--orange);
    color: var(--orange);

    &:hover {
      background-color: var(--orange);
      color: white;
    }
  }
}
