@use "../mixins/responsive.scss" as *;

.header {
  position: relative;
  background-image: url("/assets/food-photographer-X92WLoaQ1_o-unsplash\ 1.png");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 620px;
  background-position: top 6rem right -14rem;
  @include responsive(laptop) {
    color: white;
    background-size: 900px;
    background-position: right top -6rem;
    width: 100%;

    overflow: hidden;
  }

  &__title {
    font-family: "Velodroma Regular", sans-serif;
    color: var(--orange);
    margin: 0;
    font-size: 3rem;
    display: inline;

    @include responsive(laptop) {
      font-size: 6.5rem;
    }

    &--outlined {
      display: inline;
      color: var(--bg-color);
      text-shadow: -1px 0 var(--orange), 0 1px var(--orange),
        1px 0 var(--orange), 0 -1px var(--orange);
    }

    &-container {
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 18vh;
      width: 85%;

      @include responsive(laptop) {
        padding-top: 32vh;
        width: 1000px;
      }
    }
  }

  &__slogan {
    &-container {
      text-transform: uppercase;
      font-weight: 400;
      width: 250px;
      font-size: 0.8rem;
      line-height: 1.2rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 4rem;
      gap: 0.5rem;
      transform: translate(-50% 0);
      left: 50%;

      color: white;

      @include responsive(laptop) {
        width: 350px;
      }
    }
    &-icon {
      width: 50px;
    }
  }
}

.ul {
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  justify-content: center;
  @include responsive(laptop) {
    align-items: center;
    display: flex;
    width: 1000px;
    padding: 2rem 0;
    margin: auto;
    background-color: transparent;
    position: static;
    height: auto;
    justify-content: space-between;
  }
}

.nav {
  background-color: rgba(1, 3, 6, 0.581);
  width: 100%;
  position: fixed;
  z-index: 100;
  &__logo {
    font-family: "Velodroma Regular", sans-serif;

    &--close {
      color: var(--bg-color);
      @include responsive(laptop) {
        color: white;
      }
    }
  }

  &__container {
    width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100vw;
    height: 100vh;
    background-color: var(--orange);
    position: absolute;
    top: 0;
    padding-top: 9rem;
    transition: transform 0.3s;
    align-items: center;
    z-index: 1000;

    @include responsive(laptop) {
      text-align: left;
      position: static;
      flex-direction: row;
      display: flex;
      gap: 3rem;
      align-items: center;
      margin-top: 0;
      width: auto;
      margin: 0;
      background-color: transparent;
      padding-top: 0;
      height: auto;
    }

    &--close {
      transform: translateX(100vw);
      z-index: 0;
      @include responsive(laptop) {
        transform: translate(0);
      }
    }
  }

  &__li {
    color: var(--bg-color);
    font-weight: 700;
    font-size: 1.1rem;
    @include responsive(laptop) {
      color: white;
      font-size: .9rem;
      &:hover {
        color: var(--orange);
        text-decoration: underline;
      }
    }
  }

  &__logo-menu-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    color: white;
    position: fixed;
    z-index: 1000;
    padding: 1rem 2rem;
    width: 100%;
    padding-top: 3rem;
    align-items: center;
    background-color: rgba(1, 3, 6, 0.581);
    z-index: 0;

    @include responsive(laptop) {
      width: auto;
      margin: 0;
      padding: 0;
      padding-top: 0;
      position: static;
    }

    &--close {
      background-color: transparent;
      z-index: 1100;
      transition: background-color 0.01s;
    }
  }

  &__menu-icon {
    width: 40px;
    height: 3px;
    background-color: var(--bg-color);
    position: relative;
    background-color: transparent;
    transition: transform 0.2s, background-color 0.2s;

    &::after {
      content: "";
      width: 40px;
      height: 3px;
      background-color: var(--bg-color);
      position: absolute;
      top: -8px;
      transform: rotate(25deg) translateY(200%);
      transition: transform 0.2s;
    }

    &::before {
      content: "";
      width: 40px;
      height: 3px;
      background-color: var(--bg-color);
      position: absolute;
      top: 8px;
      transform: rotate(-25deg) translateY(-380%);
      transition: transform 0.2s;
    }

    @include responsive(laptop) {
      display: none;
    }

    &-container {
      padding: 1rem;
    }

    &--close {
      background-color: white;

      &::after {
        background-color: white;
        transform: translate(0);
      }

      &::before {
        background-color: white;
        transform: translate(0);
      }
      @include responsive(laptop) {
        display: none;
      }
    }
  }
}
