@use "../mixins/responsive.scss" as *;

.gallery {
  background-color: rgba(255, 255, 255, 0.12);
  position: relative;

  &__title {
    color: white;
    font-size: 48px;
    position: absolute;
    top: -0.3rem;
    transform: translate(-50% 0);
    left: 50%;
    font-family: "Velodroma Wide";
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__container {
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: 4rem 0;
    width: 100vw;
    @include responsive(laptop) {
      width: 1000px;
    }
  }

  &__image {
    width: 300px;
    object-fit: contain;
  }
}

.location {
  margin: auto;
  width: 200px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
