@use "../mixins/responsive.scss" as *;

.reservation {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  @include responsive(laptop) {
    margin-bottom: 6rem;
  }

  &__container {
    background-color: var(--orange);
    width: auto;
    margin: 0 2rem;
    border-radius: 30px;
    margin-bottom: 2rem;
    padding: 3rem 1rem;
    @include responsive(laptop) {
      width: 1000px;
      margin: auto;
      padding: 2.75rem;

      margin-bottom: 4rem;
    }
  }

  &__option {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%;
    padding: 0 1rem;
    justify-content: center;
    @include responsive(laptop) {
      padding: 0 3rem;
    }

    &--name {
      border-bottom: 2px solid black;
      padding-bottom: 1.5rem;
    }

    &--people {
      @include responsive(laptop) {
        border-right: 2px solid black;
      }
    }

    &--hour {
      @include responsive(laptop) {
        border-left: 2px solid black;
      }
    }
  }

  &__button {
    margin: 0 2rem;
    background-color: var(--bg-color);
    border: 2px solid var(--orange);
    color: var(--orange);
    text-transform: uppercase;
    padding: 0.8rem 3rem;
    font-size: 1.2rem;
    font-weight: 600;
    @include responsive(laptop) {
      margin: auto;
      cursor: pointer;

      &:hover {
        color: black;
      }
    }
  }

  &__icon {
    background-image: url("/assets/person-icon.svg");
    display: block;
    width: 15px;
    height: 15px;
    background-size: 100%;
    object-fit: contain;
    background-repeat: no-repeat;

    &--calendar {
      background-image: url("/assets/calendar-icon.svg");
      height: 17px;
    }

    &--clock {
      background-image: url("/assets/clock-icon.svg");
    }
  }

  &__input {
    border: none;
    padding: 0.7rem 1.5rem;
    font-size: 0.9rem;
    border-radius: 50px;
    width: 100%;
    @include responsive(laptop) {
      border: none;
      padding: 0.7rem 1.5rem;
      font-size: 0.9rem;
      border-radius: 50px;
      width: auto;
    }

    &--name {
      @include responsive(laptop) {
        width: 300px;
      }
    }

    &--select {
      @include responsive(laptop) {
        width: 200px;
      }
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: ce;
    gap: 0.5rem;
  }

  &__data-inputs-container {
    padding: 1.5rem 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include responsive(laptop) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
